* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.main {
    padding-bottom: 50px;
}
.headerContainer {
    max-width: 900px;
    margin: 40px auto;
}
.container {
    display: flex;
    max-width: 900px;
    margin: auto;
}
.leftSide {
    flex: 1;
    margin-right: 40px;
}
.leftSide h1 {
    margin: 0;
    font-size: 40px;
    color: #3a4b5c;
}
.leftSide p {
    font-size: 16px;
    margin-bottom: 40px;
    color: #6a7d8b;
}
.leftSide input {
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 2px solid rgba(150, 163, 170, .5);
    margin-bottom: 40px;
    padding: 10px 2px;
    font-size: 14px;
}
.leftSide input:disabled {
    opacity: 0.5;
}
.leftSide button {
    width: 100%;
    border-radius: 10px;
    background-color: #227c90;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
    transition: all ease .3s;
    margin-bottom: 40px;
}
.leftSide button:hover {
    opacity: .8;
}
.leftSide button:disabled {
    opacity: .5;
}
.rightSide {
    flex: 1;
    margin-left: 60px;
    display: flex;
}
.rightSide .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}
.rightBig {
    flex: 1;
    display: flex;
}
.rightArrow {
    position: absolute;
    background-color: #227c9d;
    width: 70px;
    height: 70px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: -35px;
    margin-top: 145px;
    transition: all ease .3s;
}
.rightArrow:hover {
    opacity: 0.8;
}  

@media (max-width:770px) {
    .headerContainer {
        padding: 0;
    }
    .container {
        padding: 0 20px;
        flex-direction: column;
    }
    .leftSide {
        margin-right: 0;
    }
    .rightSide {
        margin-left: 0;
        margin-top: 50px;
    }
    .rightArrow {
        margin-left: 0;
        margin-top: 0;
        border-radius: 10px;
    }
}
@media (max-width: 430px){
    .rightSide .grid {
        grid-template-columns: 1fr;
    }
}
  
